123 - test first code.txt
*.exe
*.out
/.qodo
/.vscode
tempCodeRunnerFile.cpp
*.py
.idx/dev.nix
*.cph*
C++NK P2/C++NK C7/area

C++ Array/tempCodeRunnerFile.cpp
C++ Thay Loi/DIthi/vutronghiep2/tempCodeRunnerFile.cpp
C++ Thay Loi/idk/tempCodeRunnerFile.cpp
C++4/tempCodeRunnerFile.cpp
C++IDK/tempCodeRunnerFile.cpp
C++NK 4/tempCodeRunnerFile.cpp
C++NK 6/tempCodeRunnerFile.cpp
*tempCodeRunnerFile.*
PDF/NoiDungOnTap_1-4.pdf
